body{
font-family:"roboto";

}


.leftside,.rightside{
    height:100vh;
    width:100%;
}

.leftside{
    
    background-image:url(twitter.png);
    background-repeat: no-repeat;
    background-size: cover;

}

.rightside{
background-color: #fff;

}
.login-form{
    margin-top: 100px;
    margin-bottom: -100px;
    margin-left: 20%;
}


.btn-outline-secondary{
    padding: 15px 0;
    font-size: 20px;
    width:400px;
    color:#00ACEE ;
    letter-spacing: 1px;
    line-height: 15px;
    border: 2px solid #00acee;
    border-radius: 40px;
    background: transparent;
    transition: all 0.3s ease 0s;

}

.btn-outline-secondary:hover{
    background: #00acee;
    border:none;
    

}

.btn-outline-secondarytoo:hover{
    background: #fff;
    border: 2px solid #00acee;
    color:#00ACEE;

}

.btn-outline-secondarytoo{
    padding: 15px 0;
    font-size: 20px;
    width:400px;
    color:#fff;
    letter-spacing: 1px;
    line-height: 15px;
    border: 2px solid #00acee;
    border-radius: 40px;
    background: #00acee;
    transition: all 0.3s ease 0s;
}

.flexpicture{
    display: flex;
    flex:1;
    align-items: flex-start;
    
    
    
    

}

.flextweet{
display: flex;
flex:11;
justify-content: space-between;
align-items: flex-start;
flex-wrap: nowrap;
  
}

.flextweetnow{
display: flex;
flex:11;
flex-flow: column wrap;
}

img {
    border-radius: 50%;
    max-width: 50px;
   
    
    
  }

#profile{
    margin-left: 60%; 
}
  #main{
   border:ridge;

  }

  .flexlike{
    flex:1;
    display: flex;
    justify-content: space-between;
    justify-content: center;
   


  }

.paragraph{
    max-width:  80%;
      
}
.container{
    display:flex;
    border:ridge;
    flex-flow: column wrap;
    /* flex-flow: nowrap; */
}

input[type=text] {
    
    border:none;
    outline: none;
    width: 100%;
  }
  #uploads > input
  {
      display: none;
  }

  #uploads img{
    cursor: pointer;  
  }

  #tweetnow{
    width:100px;
    align-self: flex-end;
    

}




#uploads{
  



}